<div class="card text-center">
	<div class="card-body overflow-auto">
		<div class="row row-cols-1 row-cols-md-6 g-4 overflow-auto">
			<div class="container d-flex justify-content-center w-100">
				<div class="card w-100">
					<div class="card-body">
						<h5 class="card-title">{{ app.user.firstname }}
							{{ app.user.lastname }}</h5>
						<p class="card-text">
							Vous êtes connecté en tant que :
							{% if is_granted("ROLE_SUPER_ADMIN") %}
								Administrateur
							{% elseif is_granted("ROLE_ADMIN") %}
								Commercial
							{% elseif (is_granted("ROLE_USER")) and app.user.parent %}
								Collaborateur
							{% else %}
								Candidat
							{% endif %}
						</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">{{ app.user.email }}</li>
						{% if app.user.getAddress() %}
							<li class="list-group-item">{{ app.user.getAddress().getNbRoad() }}
								{{ app.user.getAddress().getRoad() }}<br>
								{{ app.user.getAddress().getCp() }}
								{{ app.user.getAddress().getCity() }}<br>
								{{ app.user.getAddress().getCountry() }}<br>
							</li>
						{% else %}
							<a href="{{ path("address_new_user", {"id": app.user.id}) }}" class="card-link">Ajouter adresse</a>
						{% endif %}
						<li class="list-group-item">{{ app.user.phone }}</li>
					</ul>
					<div class="card-body">
						{% if is_granted("ROLE_SUPER_ADMIN") %}
							<a class="btn btn-primary" href="{{ path("user_edit_admin", {"id": app.user.id}) }}">Modifier</a>
						{% else %}
							<a class="btn btn-primary" href="{{ path("user_edit", {"id": app.user.id}) }}">Modifier</a>
						{% endif %}

						<a class="btn btn-secondary" href="{{ path("user_show", {"id": app.user.id}) }}">Plus d'informations</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
