{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<h1>Utilisateur</h1>
		<table class="table">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ user.firstname }}
						{{ user.lastname }}</td>
				</tr>
                <tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
                <tr>
					<th>Numéro de téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
                <tr>
					<th>Compétences</th>
					<td><a class="btn btn-primary" href="{{ path("user_skill_edit", {"id": user.id}) }}">Voir les compétences</a></td>
				</tr>
                <tr>
					<th>Expérience</th>
					<td><a class="btn btn-primary" href="#">Voir les expériences</a></td>
				</tr>
                <tr>
					<th>Documents</th>
					<td><a class="btn btn-primary" href="#">Voir les documents</a></td>
				</tr>
                {% if (user.parent != NULL) or (app.user.id == user.id) %}
                <tr>
					<th>Entreprise</th>
					<td><a class="btn btn-primary" href="#">Voir l'entreprise</a></td>
				</tr>
                {% endif %}
			</tbody>
		</table>
		<a href="{{ path('user') }}">Retour à la liste</a>
	</div>


{% endblock %}
