{% extends "base.html.twig" %}

{% block title %}Gestion
{% endblock %}

{% block body %}
	{{ include('user/partials/_infos_user.html.twig') }}
	<div class="container">
		<div class="overflow-auto">
			<h1>Gestion des Entreprises</h1>
			{% if is_granted("ROLE_ADMIN") %}
				<a class="btn btn-primary" href="{{ path("company_new") }}">Ajouter</a>
			{% endif %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom de l'Entreprise</th>
						<th scope="col">Numéro de contact de l'Entreprise</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for company in companies %}

						<tr class="table-active">
							<th scope="row">{{ company.id }}</th>
							<td>{{ company.name }}</td>
							<td>{{ company.contact }}</td>
							<td>
								<a class="btn btn-secondary" href="{{ path("company_show", {"id": company.id}) }}">Plus d'informations</a>
								<a class="btn btn-primary" href="{{ path("company_edit", {"id": company.id}) }}">Modifier</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
</div>{% endblock %}
