{% extends "base.html.twig" %}

{% block title %}Gestion
{% endblock %}

{% block body %}
	{{ include('user/partials/_infos_user.html.twig') }}
	<div class="container">
		<div class="overflow-auto">
			<h1>Gestion des Compétences</h1>

			{% if is_granted("ROLE_ADMIN") %}
				<a class="btn btn-primary" href="{{ path("skill_new") }}">Ajouter</a>
			{% endif %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for skill in skills %}

						<tr class="table-active">
							<th scope="row">{{ skill.id }}</th>
							<td>{{ skill.name }}</td>
							<td>
								<a class="btn btn-secondary" href="{{ path("skill_show", {"id": skill.id}) }}">Plus d'informations</a>
								<a class="btn btn-primary" href="{{ path("skill_edit", {"id": skill.id}) }}">Modifier</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</tbody>
		</table>

	</div>
</div>{% endblock %}
