{% extends "base.html.twig" %}

{% block title %}Gestion
{% endblock %}

{% block body %}
	{{ include('user/partials/_infos_user.html.twig') }}
	<div class="container">
		<div class="overflow-auto">
			<h1>Gestion des Documents</h1>
			{% if is_granted("ROLE_ADMIN") %}
				<a class="btn btn-primary" href="{{ path("document_new") }}">Ajouter</a>
			{% endif %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom de la personne</th>
						<th scope="col">Nom du fichier</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for document in documents %}
						<tr class="table-active">
							<td scope="row">{{ document.id }}</td>
							<td>{{ document.getUser().getLastName() }}
								{{ document.getUser().getFirstName() }}</td>
							<td>{{ document.name }}</td>
							<td>
								<a class="btn btn-primary" href="{{ document.attachement }}">Telecharger</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
</div>{% endblock %}
